body{margin: 0; padding: 0;}
.btn:hover, .btn:focus, .btn.focus{color: #fff;}
.m-b-none{margin-bottom: 0px;}

#imageBox{width: 100%; border: solid 1px #ccc; padding: 8px; margin-bottom: 8px; min-height: 400px; text-align: center;}
#imageBox img{max-width: 100%;}
#imageBox span{margin-top: 10px; display: block;}
#imageBox span:first-child{margin-top: 0px;}
.buttonArea{margin-bottom: 15px;}

button.btn-success.red{background-color: red; border:none; color: #fff;}
button.btn-success.red:hover{background-color: red;}

button.blue{background-color: blue; border:none; color: #fff;}
button.blue:hover{background-color: blue;}

button.btn-success{background-color: green; border:none;}
button.btn-success:hover{background-color: green;}

.img-list{width: 100%; margin: 0; padding: 0;}
.img-list div{cursor: pointer; text-align: center;}
.img-list div span{margin-top: 10px; display: block;}
.img-list div:first-child span{margin-top: 0px;}

/*---- quiz contest css ----*/
#quiz h1{margin-bottom: 20px; font-size: 30px; margin-top: 0;}
.questionBlock{margin-bottom: 20px; border: solid 1px #ccc; padding: 15px; font-weight: 600; font-size: 18px;}
.answer{}
.answer div.col-md-6{margin-bottom: 20px;}
.answer div.col-md-6 span{padding: 10px 8px; display: block; cursor: pointer;}
.answer div.col-md-6 span:hover{background-color: #5cb85c; color: #fff;}
.answer div.col-md-6 span.active{background-color: #5cb85c; color: #fff;}
.answer div.col-md-6 span.activeRed{background-color: #850000; color: #fff;}

.big-box{width: 100%; height: 300px; background-color: #ccc;}
