body{margin: 0; padding: 0;}

#imageBox{width: 100%; border: solid 1px #ccc; padding: 8px; margin-bottom: 8px; min-height: 400px;}
#imageBox img{width: 100%;}

.img-list{width: 100%; margin: 0; padding: 0;}
.img-list div{margin-top: 10px; cursor: pointer;}
.img-list div:first-child{margin-top: 0px;}
