body{margin: 0; padding: 0;}

#imageBox{width: 100%; border: solid 1px #ccc; padding: 8px; margin-bottom: 8px; min-height: 400px; text-align: center;}
#imageBox img{max-width: 100%;}
#imageBox span{margin-top: 10px; display: block;}
#imageBox span:first-child{margin-top: 0px;}
.buttonArea{margin-bottom: 15px;}

.img-list{width: 100%; margin: 0; padding: 0;}
.img-list div{cursor: pointer; text-align: center;}
.img-list div span{margin-top: 10px; display: block;}
.img-list div:first-child span{margin-top: 0px;}
